<style>
h1{
	font-size:1.2em;
}

#main ul{
}
</style>
<section class="clear" id="main">
	<section id="main_content">
	<section style="margin-left:10px;">
	    <h1>public class <span style="color:#ffff00;">Cast</span> extends MikeTokyo {</h1>
		<p>　　public void mainPersonality1( ) {</p>
		<ul>
			<li>
				<span style="">　　　　Yuji_Tominaga;</span><br>
				　　　　 <img src="<%=contents_url %>img/sp/common/yuji.jpg" width="150">;
				<p>　　　　ArtDirector + Desginer;</p>
			</li>
			<p>　　}</p>
			<p>　　public void mainPersonality2( ) {</p>
			<li>
				<span>　　　　Yuki_Takei;</span><br>
				　　　　 <img src="<%=contents_url %>img/sp/common/yuki.jpg" width="150">;
				<p>　　　　WebEngineer(Server,Client);</p>
			</li>
			<p>　　}</p>
		</ul>
	</section>
</section>
<p>}</p>
