<style>
h1{
	font-size:1.5em;
}

#main ul{
}
</style>
<section class="clear" id="main">
	<h1>public class <span style="color:#ffff00;">Cast</span> {</h1>
	<section id="main_content">
	<section style="margin-left:10px;">
		<p class="method_st">public void mainPersonality1( ) {</p>
		<ul>
			<li>
				<p class="method_contain">"Yuji_Tominaga";<br>
				<img src="<%=contents_url %>img/sp/common/yuji.jpg" width="150">;<br>
				ArtDirector + Desginer;</p>
			</li>
			<p class="method_st">}</p>
			<p>　　public void mainPersonality2( ) {</p>
			<li>
				<p class="method_contain">"Yuki_Takei";<br>
				<img src="<%=contents_url %>img/sp/common/yuki.jpg" width="150">;<br>
				WebEngineer(Server,Client);<br>
				</p>
			</li>
			<p class="method_st">}</p>
		</ul>
	</section>
	<p style="font-size:1.5em;">}</p>
</section>
