<style>
h1{
	font-size:1.5em;
}

#main ul{
}

</style>
<br>
<section class="clear" id="main">
	<h1>var <span style="color:#ffff00;">News</span> = {</h1>
	<section id="main_content">
	<section style="margin-left:10px;">
		<ul>
			<li>
				<p class="method_st">20121030_1400 : function( ) {</p>
				<p class="method_contain">
				"11月25（日）USTREAMにてMikeTOKYO vol3放送予定！
				<a style="text-decoration:underline;" href="http://www.ustream.tv/channel/mike-tokyo" target="_blank">http://www.ustream.tv/channel/mike-tokyo</a>";
				</p>
				<p class="method_st">}</p>
			</li>
			<li>
				<p class="method_st">20121030_1400 : function( ) {</p>
				<p class="method_contain">
				"11月3日（土）21:30〜 ustreamにて第二回miketokyo放送予定
				<a style="text-decoration:underline;" href="http://www.ustream.tv/channel/mike-tokyo" target="_blank">http://www.ustream.tv/channel/mike-tokyo</a>";
				</p>
				<p class="method_st">}</p>
			</li>
			<li>
				<p class="method_st">20121018_2215 : function( ) {</p>
				<p class="method_contain">
				"10月22日（土）22:15〜 ustreamにて第一回miketokyo放送！！
				<a style="text-decoration:underline;" href="http://www.ustream.tv/channel/mike-tokyo" target="_blank">http://www.ustream.tv/channel/mike-tokyo</a>";
				</p>
				<p class="method_st">}</p>
			</li>
		<ul>
	</section>
	<p style="font-size:1.5em;">}</p>
</section>
