<style>
h1{
	font-size:1.5em;
}

#main ul{
}
</style>
<br>
<section class="clear" id="main">
	<h1>var <span style="color:#ffff00;">News</span> = {</h1>
	<section id="main_content">
	<section style="margin-left:10px;">
		<ul>
			<li>
				<p>　　20121019_1006 : function( ) {</p>
				<span>　　　　"10月22日（土）22:15〜 ustreamにて第一回miketokyo放送！！";</span>
				<p>　　}</p>
			</li>
		<ul>
	</section>
</section>
<p>}</p>
