<style>
h1{
	font-size:1.5em;
}

#main ul{
}
</style>
<br>
<section class="clear" id="main">
	<h1>class <span style="color:#ffff00;">Podcast</span> {</h1>
	<section id="main_content">
	<section style="margin-left:10px;">
		<ul>
			<li>
				<p class="method_st">public function introduction( ) {</p>
				<p class="method_contain">$url = "http://ax.search.itunes.apple.com/WebObjects/MZSearch.woa/wa/search?entity=podcastEpisode&media=all&page=1&restrict=false&startIndex=0&term=MIkeTOKYO";</p>
				<p>header("Location:"<a href="http://ax.search.itunes.apple.com/WebObjects/MZSearch.woa/wa/search?entity=podcastEpisode&media=all&page=1&restrict=false&startIndex=0&term=MIkeTOKYO">$url</a>)</p>
				<p class="method_st">}
			</li>
		<ul>
	</section>
	<p style="font-size:1.5em;">}</p>
</section>