<style>
h1{
	font-size:1.5em;
}

#main ul{
}
</style>
<br>
<section class="clear" id="main">
	<h1>class <span style="color:#ffff00;">Podcast</span> {</h1>
	<section id="main_content">
	<section style="margin-left:10px;">
		<ul>
			<li>
				<p>　　public function maintenance( ) {</p>
				<span>　　　　echo "Podcast page is currently  under construction.";</span>
				<p>　　}</p>
			</li>
		<ul>
	</section>
</section>
<p>}</p>