<style>
h1{
	font-size:1.5em;
}

#main ul{
}
</style>
<br>
<section class="clear" id="main">
	<h1>class <span style="color:#ffff00;">Podcast</span> {</h1>
	<section id="main_content">
	<section style="margin-left:10px;">
		<ul>
			<li>
				<p class="method_st">public function maintenance( ) {</p>
				<p class="method_contain">echo "Podcast page is currently  under construction.";</p>
				<p class="method_st">}
			</li>
		<ul>
	</section>
	<p style="font-size:1.5em;">}</p>
</section>