<section id="fb-root"></section>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=166018473529854";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section id="top_image">
    <img src="<%=contents_url %>img/sp/common/top_image.png">
</section>

<br><br>

<section style="float:left;margin-left:40px; width:400px; height:650px;" class="fb-like-box" data-href="https://www.facebook.com/taketomic" data-width="400" data-height="650" data-colorscheme="dark" data-show-faces="true" data-stream="true" data-header="true"></section>


<iframe src="http://www.ustream.tv/embed/12330370" width="480" height="296" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe><br />

<a class="twitter-timeline" style="clear: both;" href="https://twitter.com/_miketokyo" data-widget-id="259605092020396032" width="480" height="100">Tweets by @_miketokyo</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>