<style>
body {
	background-color: black;
	width:100%;
	height:100%;
	color:#fff;
}

body a{
	text-decoration:none;
	color:#fff;
}

body a:hover {
	color:#ffff00;	
	text-decoration:none;
}

#container ul {
	list-style:none;
	text-align:center;
	vertical-align:middle;
}

#container ul li {
	display:inline;
	margin-right:90px;
	margin-top:40px;
}


#top_image {
	clear:both;
	text-align:center;
	margin-top:30px;
}

#logo_s {
	margin-top:20px;
}

</style>

<section id="container">

	<ul>
		<li><a href="/official/news">NEWS</a></li>
		<li><a href="/official/cast">CAST</a></li>
		<li><img src="<%=contents_url %>img/sp/common/logo_s.png"></li>
		<li><a href="/official/podcast">PODCAST</a></li>
		<li><a href="mailto:info@miketokyo.com?subject=miketokyo.comへのご意見・お問い合わせ">CONTACT</a></li>
	</ul>

	<section id="top_image">
		<img src="<%=contents_url %>img/sp/common/top_image.png">
	</section>

</section>