<!doctype html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta name="copyright" content="miketokyo" />
	<meta name="author" content="miketokyo" />
	<meta name="keywords" content="MikeTokyo,マイクトーキョー,TAKETOMIC,radio,ラジオ,design,デザイン,Technology,インターネットラジオ,ustream,podcast,">
	<meta name="description" content="MikeTokyo is MOST TAKETOMIC RADIO PROGRAM In The World">
	<title><%=applicationName %></title>
	<link rel="stylesheet" href="/css/global.css" type="text/css">
	<link href="/favicon.ico" title="Icon" type="image/x-icon" rel="icon" />
	<link href="/favicon.ico" title="Icon" type="image/x-icon" rel="shortcut icon" />
	</head>
	<body>
		<section id="container">
			<section id="contents">
				<section class="g_menu">
				    <ul>
				        <li><a href="/official/news">NEWS</a></li>
				        <li><a href="/official/cast">CAST</a></li>
				        <li><a href="/"><img src="<%=contents_url %>img/sp/common/logo.jpg" width="129"></a></li>
				        <li><a href="/official/podcast">PODCAST</a></li>
				        <li><a href="mailto:info@miketokyo.com?subject=miketokyo.comへのご意見・お問い合わせ">CONTACT</a></li>
				    </ul>
				</section>
				<%-content %>
			</section>
		</section>
	</body>
</html>